<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyAnimeRandomizer</title>

    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1 id="header-title">MyAnimeRandomizer</h1>
    </header>

    <div id="main">
        <button class="login">Connect to <strong class="myanimelist">MyAnimeList</strong></button>
    </div>
</body>

</html>