@font-face {
    font-family: 'MyAnimeList';
    src: url('fonts/agrevuecyr_roman_medium-webfont.woff2') format('woff2'), url('fonts/agrevuecyr_roman_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}